{% extends 'pageWrapper.html' %}

{% block head %}
    <title>Archipelago</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/landing.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/markdown.css") }}" />
{% endblock %}

{% block body %}
    {% include 'header/jungleHeader.html' %}
    <div id="landing-header">
        <img id="landing-logo" src="static/static/branding/landing-logo.png" alt="Archipelago Logo" />
        <h4>private archipelago server</h4>
    </div>
    <div id="landing" class="markdown">
        <div id="landing-body">
            <p id="first-line">Welcome to Dessyreqt's Archipelago server!</p>
            <p>
                This is a private web server running Archipelago with the intent of hosting private sync and async games. If you're here by chance, you probably want to go to  <a href="https://archipelago.gg">the main Archipelago server</a> instead.
            </p>
            <p>
                This project is the cumulative effort of many
                <a href="https://github.com/ArchipelagoMW/Archipelago/graphs/contributors">talented people.</a>
                Together, they have spent countless hours creating a huge repository of
                <a href="https://github.com/ArchipelagoMW/Archipelago">source code</a> which has turned
                our crazy idea into a reality.
            </p>
            <p>
                <a href="{{ url_for("stats") }}">{{ seeds }}</a>
                games were generated and
                <a href="{{ url_for("stats") }}">{{ rooms }}</a>
                were hosted in the last 7 days.
            </p>
        </div>
    </div>
    <!-- {% include 'islandFooter.html' %} -->
{% endblock %}
